/* You can add global styles to this file, and also import other style files */
.validationError{
    color: maroon;
}

.errorDiv{
        display: block;
        position: fixed;
        bottom: 0px;
        left: 1%;
        width: 98%;
}